.box-ahp {
    background-color: rgb(195, 189, 189);
    width: 100%;
    height: calc(100vh - 5rem - 6.125rem);
    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.title-container span {
    color: #f2f3f5;
    font-size: 1.75rem;
    font-weight: bold;
}

.container-ahp {
    background-color: lightgrey; 
    width: 80%; 
    height: 80%; 
    padding: 1.25rem;
    border-radius: 0.625rem; 
}