.box-ahp {
    background-color: lightgrey;
    width: 100%;
    min-height: calc(100vh - 5rem - 6.125rem);
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column; /* Adicionado aqui */
    align-items: center;
}

.title-container {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%; 
}

.title-container .title-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.title-container .container-analise {
    width: 20%;
    margin-left: auto;
}

.title-container .container-analise span{
    font-size: 1rem;
}

.box-name {
    margin-top: 1rem;
}

.title-container span {
    font-size: 1.75rem;
    font-weight: bold;
}

@media (max-width: 640px) {
    .title-container .container-analise {
        margin-left: 4rem;
    }
    .title-container .container-analise span{
        font-size: 0.8rem;
    }
    .title-container span {
        font-size: 1.25rem;
    }
}
