.menu {
    background-color: #126ab8;
    padding: 1px;
}

.menu ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    align-items: center;
}

.menu ul li {
    margin-right: 2.5rem;
    align-items: center;
}

.menu ul li span {
    font-size: 2.188rem;
    font-weight: bold;
    color: #f2f3f5;
}

.menu ul .group-right {
    display: flex;
    font-size: 1.375rem;
    margin-left: auto;
    font-weight: bold;
}
.menu ul li.icon-home {
    display: inline-block;
    background-color: #012f57; 
    padding: 0.938rem 1.563rem; 
    border-radius: 0.313rem; 
    margin-left: 1.563rem;
}

.menu ul li.icon-home:hover {
    background-color: #021c34;
}

.menu ul li a {
    text-decoration: none;
    color: #f2f3f5;
}

@media (max-width: 624px) {
    .menu ul li {
        margin-right: 0.625rem;
    }
    .menu ul li span {
        font-size: 1.5rem;
        font-weight: bold;
        color: #f2f3f5;
    }
    .menu ul .group-right {
        display: flex;
        font-size: 1rem;
    }
    .menu ul li.icon-home {
        display: inline-block;
        background-color: #012f57; 
        padding: 0.5rem 1rem; 
        margin-left: 1rem;
    }
}

.dropdown-menu {
    position: absolute; 
    background-color: lightgray; 
    width: 60%; 
    margin-top: 12rem;
    margin-left: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1; 
    border: 1px solid black;
}

.dropdown-menu a button {
    color: #f2f3f5;
    background-color: #126ab8;
    padding: 12px 16px;
    border: none; 
    text-decoration: none; 
    font-size: 1.25rem;
    font-weight: bold; 
    width: 100%;
    cursor: pointer;
}

.dropdown-menu a .primeiro-botao {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.dropdown-menu a .ultimo-botao {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.dropdown-menu a button:hover {
    background-color: #014886;
}

.dropdown-menu a button:disabled {
    background-color: darkgrey;
    cursor: default; 
}

.dropdown-menu a:hover {
    background-color: #f1f1f1; 
}

.icon-dropdown {
    margin-left: 1rem;
    cursor: pointer;
}

.icon-dropdown:hover {
    font-size: 1.25rem; /* Aumenta o tamanho da fonte para 20px quando o mouse passa por cima */
}
