.titulo-comparacao-alternativas {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
}

.titulo-criterio {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
}

.proximo-comparacao-alternativas {
    padding: 1rem 2rem;
    border-radius: 0.3125rem;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    margin-top: 1rem; 
    align-self: center;
    margin-bottom: 1rem; 
}

.proximo-comparacao-alternativas:hover {
    background-color: #0056b3;
}